# username and password
ACCOUNT="admin"
PASSWORD="admin"

# databases
MONGO_IP = "192.168.47.146"
MONGO_PORT = 27017
MONGO_USER = "scan"
MONGO_PWD = "123456"
MONGO_DB_NAME = "portscan"

# redis
REDIS_IP = "192.168.47.146"
REDIS_PORT = "6379"
REDIS_PWD = "pwd"
