{% extends 'base.html' %}
{% block title %}添加任务{% endblock %}
{% block css %}

    <!-- Theme style -->

    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->

    <link rel="stylesheet" href="../static/plugins/messenger/messenger-theme-future.css">
    <link rel="stylesheet" href="../static/plugins/messenger/messenger.css">
{% endblock %}


{% block content %}
{% block  section%}

{% endblock %}
    <!-- Main content -->


    <section class="content">


        <div class="row">
            <div class="col-md-6">
                <div class="box box-danger">

                    <!-- /.box-header -->
                    <form class="form-horizontal " id="task_form" action="/add_task?task_type={{ task_type }}" method='POST'>

                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">任务名称</label>

                                <div class="col-sm-10">
                                    <input type="text" name="task_name" class="form-control" placeholder="任务名称不能重复"
                                           required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">扫描IP</label>

                                <div class="col-sm-10">
                                    <textarea rows="4" class="col-sm-12" name="task_ips"
                                              placeholder="支持192.168.1.1-192.168.1.254和192.168.1.1格式。并且两种格式混用，如：&#13;&#10;192.168.1.200-192.168.2.123&#13;&#10;192.168.100.123"
                                              required></textarea>

                                </div>
                            </div>
                            {% block div %}

                            {% endblock %}
                        {% block loop %}
                            <div class="form-group ">
                                <label class="col-sm-2 control-label">循环周期</label>
                                <div class="col-sm-4">
                                    <input name="job_time" type="text" class="form-control"
                                           placeholder="支持小数点，如：0.1" required>
                                </div>
                                <div class="col-sm-6">

                                    <select class="form-control" name="job_unit">

                                        <option value="hours">小时</option>
                                        <option value="days">天</option>
                                    </select>
                                </div>
                            </div>
{% endblock %}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">IP白名单</label>

                                <div class="col-sm-10">
                                    <textarea rows="20" class="col-sm-12" name="white_ip"
                                              placeholder="排除扫描的IP，一行一个，如：&#13;&#10;192.168.1.123&#13;&#10;192.168.1.200-192.168.2.123"></textarea>


                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <!-- /.box-body -->
                        <div class="box-footer">

                            <button type="submit" id="task_submit" class="btn btn-info pull-right">提交</button>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                    <!-- /.box-body -->

                </div>
                <!-- /.box -->


            </div>
            <!-- /.col -->

            <!-- /.col -->
        </div>


        <!-- Default box -->

        <!-- /.box-body -->

    </section>





    <!-- /.content -->

{% endblock %}







{% block script %}

    <script src="static/plugins/messenger/messenger.min.js"></script>


    <!-- FastClick -->
    <script src="static/plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="static/dist/js/app.min.js"></script>
    <!-- DataTables -->
    {#    <script src="static/plugins/datatables/jquery.dataTables.min.js"></script>#}
    <script src="static/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="static/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script>
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom messenger-theme-air messenger-on-right'
        }

    </script>

{% endblock %}