{% extends 'base.html' %}
{% block title %}添加任务{% endblock %}
{% block css %}

    <!-- Theme style -->

    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->

    <link rel="stylesheet" href="../static/plugins/messenger/messenger-theme-future.css">
    <link rel="stylesheet" href="../static/plugins/messenger/messenger.css">
{% endblock %}

{% block content %}




{% endblock %}




{% block script %}

    <script src="static/plugins/messenger/messenger.min.js"></script>


    <!-- FastClick -->
    <script src="static/plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="static/dist/js/app.min.js"></script>
    <!-- DataTables -->
    {#    <script src="static/plugins/datatables/jquery.dataTables.min.js"></script>#}
    <script src="static/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="static/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script>
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom messenger-theme-air messenger-on-right'
        }

    </script>

{% endblock %}